<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 align="center">Sign Up</h1>
		<hr>
		<%= form_for @user, url: users_path, html: { multipart: true } do |f| %>
			<div class="form-group">
				<%= f.label :full_name, "First Name" %>
				<%= f.text_field :full_name, autofocus: true, class: "form-control" %> 
			</div>
			<div class="form-group">
				<%= f.label :email, "Email" %>
				<%= f.email_field :email, class: "form-control"%> 
			</div>
			<div class="form-group">
				<%= f.label :password, "Password" %>
				<%= f.password_field :password, class: "form-control"%> 
			</div>
			<div class="form-group">
				<%= f.label :bio, "Bio" %>
				<%= f.text_area :bio, class: "form-control"%> 
			</div>
			<div class="input-field">
				<p><strong>Image<strong><p>
        <%= f.file_field :avatar %>
      </div>  
			<div class="container">
			<%= label_tag 'interests_html', 'HTML' %>
			<%= check_box_tag 'user[interests][]', 'HTML', checked('CSS'), id: 'interests_html' %>

			<%= label_tag 'expertise_css', 'CSS' %>
			<%= check_box_tag 'user[interests][]', 'CSS', checked('CSS'), id: 'interests_css' %>

			<form role="form">
			  <div class="checkbox">
			    <label><input type="checkbox" value="">HTML</label>
			  </div>
			  <div class="checkbox">
			    <label><input type="checkbox" value="">CSS</label>
			  </div>
			  <div class="checkbox disabled">
			    <label><input type="checkbox" value="">JavaScript</label>
			  </div>
			  <div class="checkbox disabled">
			    <label><input type="checkbox" value="">Ruby on Rails</label>
			  </div>
			  <div class="checkbox disabled">
			    <label><input type="checkbox" value="">Angular</label>
			  </div>			  			  
			</form>
			</div>

			<%= f.submit "Become A Member", class: "btn btn-warning"%>
		<% end %> 
	</div>
</div>