<div class="container" id="user_profile">
	<div class="col-lg-12 text-center well">
		<h1 align="center"><%= @user.full_name %></h1>
		<h3 align="center"><%= @user.email %></h3>
		<h3 align="center"><%= @user.bio %></h3>
		<%= image_tag @user.avatar(:medium) %>
		<h4 class="text-center"> Joined on <%= @user.created_at.to_date.to_formatted_s(:long_ordinal) %></h4>
		
	
			<br>
			<br>
	</div>
</div>

	
	
